[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ldap3 = "==2.7"
requests = "==2.32.4"
urllib3 = "==1.26.19"
certifi = "==2024.7.4"
gunicorn = "==23.0.0"
falcon = "==2.0.0"
cachetools = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
launch = "gunicorn -b 0.0.0.0:8000 nginx_ad_proxy:api"
launch-win = "waitress-serve --listen 0.0.0.0:8000 nginx_ad_proxy:api"
